._x19{flex-grow:1}
.sp_s_2JjWASnYC{background-image:url(/rsrc.php/v3/yz/r/I6cWbyVXvcl.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_s_2JjWASnYC.sx_1a18bb{width:16px;height:16px;background-position:0 -46px}.sp_s_2JjWASnYC.sx_29de86{width:20px;height:20px;background-position:0 -25px}.sp_s_2JjWASnYC.sx_f3a5bb{background-position:0 0}

#bootloader_dKeGc{height:42px;}.bootloader_dKeGc{display:block!important;}